{% extends 'base.html' %}
{% block head %} Create startup {% endblock %}

{% block content %}
<main>
    <section class="createStartupFormBox">

        <form action="." method="POST" enctype="multipart/form-data">
            <h1 class="formHeading">Utwórz startup</h1>
            {{ form }}
            {% csrf_token %}
            <input type="submit" value="Utwórz">
        </form>
    </section>

</main>
{% endblock %}