{% extends 'base.html' %}
{% load static %}
{% block head %} Startups {% endblock %}

{% block content %}
<main>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert">
                <div class="title">
                    Udało się!
                </div>
                <div class="content">
                    {{ message }}
                </div>
            </div>
            {% endif %}    
        {% endfor %}
    {% endif %}
    <div class="heading">Zapisane startupy</div>
    <section class="startups">

        {% for observation in observations %}
            <section class="startupItem">
                <div class="left">
                    <div class="title">
                        <a href="{{ observation.startup.url }}">{{ observation.startup.title }}</a>
                    </div> 
                    {% if observation.startup.author != request.user %}
                        <div class="author">
                            <a href="{% url 'users:profile'  observation.startup.author.username %}">
                        {% if startup.author.profile.photo %}
                            <img src="{{ observation.startup.author.profile.photo.url }}" class="authorPhoto">
                        {% endif %} 
                        <div>{{ observation.startup.author }}</div> </a> </div> 
                    {% endif %}
                    <div class="description"> {{ observation.startup.shortDescription|truncatewords:75 }} </div>
                    <a href="{{ observation.startup.url_observations }}"><i class="icon-star-empty"></i> Zobacz, kto obserwuje ten startup</a> <br>
                    {% if observation.startup.author == request.user %}
                        <a class="delete" href="{{ startup.url_delete }}"><i class="icon-trash-empty"></i> Usuń ten startup</a>
                    {% endif %}

                </div>
                <div class="right">

                        {% if observation.startup.mainPhoto %}
                        <img src="{{ observation.startup.mainPhoto.url }}" class="startupPhoto" >
                        {% else %}
                        <img src="{% static './imgs/default.jpg' %}" class="startupPhoto">
                        {% endif %}

                </div>
            </section>
        {% endfor %}
    </section>

</main>
{% endblock %}