{% extends 'base.html' %}
{% load static %}
{% block head %} Startups {% endblock %}

{% block content %}
<main>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert">
                <div class="title">
                    Udało się!
                </div>
                <div class="content">
                    {{ message }}
                </div>
            </div>
            {% endif %}    
        {% endfor %}
    {% endif %}


    <div class="heading">Moje Startupy</div>
    <section class="startups">

        {% for startup in startups %}
            <section class="startupItem">
                <div class="left">
                    <div class="title">
                        <a href="{{ startup.url }}">{{ startup.title }}</a>
                    </div> <br>
                    <div class="description"> {{ startup.shortDescription|truncatewords:75 }} </div>
                    <a href="{{ startup.url_observations }}"><i class="icon-star-empty"></i> Zobacz, kto obserwuje ten startup</a> <br>
                    <a class="delete" href="{{ startup.url_delete }}"><i class="icon-trash-empty"></i> Usuń ten startup</a>

                </div>
                <div class="right">
                    {% if startup.mainPhoto %}
                        <img src="{{ startup.mainPhoto.url }}" class="startupPhoto" > <br>
                    {% else %}
                        <img src="{% static './imgs/default.jpg' %}" class="startupPhoto">
                    {% endif %}

                </div>
            </section>
        {% endfor %}
    </section>
</main>
{% endblock %}