{% extends 'base.html' %}
{% load static %}
{% block head %} Startup  {% endblock %}

{% block content %}
<main>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert">
                <div class="title">
                    Udało się!
                </div>
                <div class="content">
                    {{ message }}
                </div>
            </div>
            {% endif %}    
        {% endfor %}
    {% endif %}
    <div class="heading"> {{ startup.title }} </div>
    <section class="startup">

        {% if startup.mainPhoto %}
            <img src="{{ startup.mainPhoto.url }}" class="startupPhoto">
        {% else %}
            <img src="{% static './imgs/default.jpg' %}" class="startupPhoto">
        {% endif %}


        {% if startup.author != request.user %}
            <div class="startupAuthor">
                <a href="{% url 'users:profile' startup.author.username %}"> {{ startup.author }} </a>
            </div>
        {% endif %}

        <p> {{ startup.shortDescription }} </p>


        <section class="images">

            {% for image in images %}

                <img src="{{ image.photo.url }}"> <br>
            {% endfor %}
        </section>

        {% if request.user.is_authenticated %} <br>
            {% if canObserve %}
                <a href="{{ startup.url_observe }}" class="startupLink">
                    <div class="linkBox"><i class="icon-star"></i> Obserwuj ten startup</div>
                </a>
            {% elif request.user != startup.author %}
                <a href="{{ startup.url_unobserve }}" class="startupLink">
                    <div class="linkBox"><i class="icon-star-empty"></i> Przestań obserwować ten startup</div>
                </a>
            {% endif %}
        {% endif %}

            <a href="{{ startup.url_observations }}" class="startupLink">
                <div class="linkBox"><i class="icon-eye"></i> Zobacz, kto obserwuje ten startup</div>
            </a>
            {% if startup.author == request.user %} <br>
                <a href="{{ startup.url_add_image }}" class="startupLink">
                    <div class="linkBox"><i class="icon-plus"></i> Dodaj zdjęcie do startupu</div>
                </a>
                <a href="{{ startup.url_edit }}" class="startupLink">
                    <div class="linkBox"><i class="icon-pencil-1"></i> Edytuj ten startup</div>
                </a>
                <a href="{{ startup.url_delete }}" class="startupLink remove">
                    <div class="linkBox"><i class="icon-trash-empty"></i> Usuń ten startup</div>
                </a>
            {% endif %}
        </section>
    </main>
{% endblock %}