{% extends 'base.html' %}
{% block head %} Startups {% endblock %}

{% block content %}
<main>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert">
                <div class="title">
                    Udało się!
                </div>
                <div class="content">
                    {{ message }}
                </div>
            </div>
            {% endif %}    
        {% endfor %}
    {% endif %}
    <div class="heading">Zapisany przez </div>
    <section class="observators">
        
        {% for observation in observations %}<a href="{% url 'users:profile' observation.observator.username %}">
            <section class="observator">
                <div class="left">
                    {{ observation.observator }} <br>
                </div>
                <div class="right">
                    {% if observation.observator.profile.photo %}
                    <img src="{{ observation.observator.profile.photo.url }}">
                    {% endif %}
                </div>
            </section>
            </a>
        {% endfor %}
    </section>
</main>
{% endblock %}