
{% extends 'base.html' %}
{% block head %} Edit profile {% endblock %}

{% block content %}
<main>
    <section class="profileEditFormBox">

        <form action="." method="POST" enctype="multipart/form-data">
            <h1 class="formHeading">Edycja profilu</h1>
            {{ form }}
            {% csrf_token %}
            <input type="submit" value="Dalej">
        </form>
    </section>

</main>
{% endblock %}