{% extends 'base.html' %}
{% load static %}
{% block head %}
    Profil
{% endblock %}
{% block content %}
    <main>
        {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert">
                <div class="title">
                    Udało się!
                </div>
                <div class="content">
                    {{ message }}
                </div>
            </div>
            {% endif %}    
        {% endfor %}
    {% endif %}
    <section class="userData">
        <div class="left">
            <div class="userName">
                {{ user.username }}
            </div>
            <div class="userDetail">
                <div class="name">
                    {{ profile.name }}
                </div>
                <div class="surname">
                    {{ profile.surname }}
                </div>
            </div>
            <a href="{% url 'startupsSystem:authorStartups' user.username %}" class="dashboardLink">
                <div class="linkBox"><i class="icon-pencil-alt"></i> Startupy użytkownika</div>
            </a>
        </div>
        <div class="right">
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" >
            {% else %}
            <img src="{% static './imgs/defaultProfileImage.jpg' %}">
            {% endif %}
        </div>
    </section>
    </main>
{% endblock %}