{% extends 'base.html' %}
{% block head %}
    Sign in
{% endblock %}
{% block content %}
<main>
    <section class="signInFormBox">
        <form action="." method="POST">
            <h1 class="formHeading">Zaloguj się</h1>
            {{ form }}
            {% csrf_token %}
            <input type="submit" value="Zaloguj się">
        </form>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <script>
                            swal({
                                title:"Gratulacje!",
                                text:"Potwierdź swoje konto, klikając w link aktywacyjny, który dostarczyliśmy Ci pocztą na wskazany przez Ciebie adres e-mail.",
                                icon:"success",
                                button: "Dalej" });
                        </script>
                    {% else %}
                        <p style="color: red;">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        <div class="registerOption">
            <a href="{% url 'users:signUp' %}">
            lub zarejestruj się...</a>
        </div>
    </section>
</main>
{% endblock %}