{% extends 'base.html' %}
{% block head %}
    Sign up
{% endblock %}
{% block content %}
    <main>
        <section class="signUpFormBox">
            <form action="." method="POST">
                <h1 class="formHeading">Zarejestruj się</h1>
                {{ user_form.email }}
                {{ user_form.username }}
                {{ user_form.password }}
                {{ user_form.password2 }}
                {% csrf_token %}
                <input type="submit" value="Zarejestruj się">
            </form>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <script>
                            swal({
                                title:"Udało się!",
                                text:"Pomyślnie wylogowano.",
                                icon:"success",
                                button: "Dalej" });
                        </script>
                    {% else %}
                        <p style="color: red;">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="registerOption">
                <a href="{% url 'users:signIn' %}">
                </br>lub zaloguj się...</a>
            </div>
        </section>
    </main>
{% endblock %}