$black: rgb(20,20,20);
$dark-grey: rgb(29, 29, 29);
$grey: rgb(45,45,45);
$grey-0: #1C1C1C;
$grey-1: #222;
$grey-2: #333;
$grey-3: #444;
$grey-4: #555;
$grey-5: #666;
$light-grey: rgb(73, 73, 73);
$light-grey-2: rgb(120,120,120);

$lemon: rgb(157, 250, 35);
$green: rgb(6, 68, 24);
$forest-green: rgb(13, 78, 38);


$aqua: rgb(42, 173, 167);
$blue:rgb(1, 15, 90);
$dark-blue:rgb(0,0,0);
$purple:rgb(88, 13, 173);

$yellow:rgb(235, 207, 53);

$pink:rgb(199, 72, 211);

$white:rgb(255, 255, 255);
$white-2:rgb(219, 219, 219);
$white-3:rgb(179, 179, 179);

$text-color: #DDD;
$bg-color: #292929;

// BLUE
$blue: rgb(94, 155, 235);
$dark-blue-1: #0f3851;
$dark-blue-2: rgb(35, 90, 116);
$dark-blue-3: #061722;
$dark-blue-4: #0a1e2c;
// $dark-blue-3: #061b29;
$aqua: #2AFFFF;

//  PINK
$barbie-ping:#FF58A9;
$insta:c32aa3;
$pink: #E616D0;
$light-pink: #FF98F1;

// RED
$red: #F01200;
$light-red: #F03E39;
$beige: #E9BF9E;


// BLACK


// WHITE
$white-1: #FFF;
$white-2: #EEE;
$white-3: #DDD;
$white-4: #CCC;
$white-5: #BBB;


// OTHERS:
$facebook: #3b5998;
$facebookOP: #253964;
$youtube: #c4302b;
$youtubeOP: #8b2320;
$instagram: #c32aa3;
$instagramOP: #8b2074;
$linkedin: #0e76a8;
$linkedinOP: #0a587c;