@import 'colors';


.baseFormBox{
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size:1rem;
    padding: 40px 32px 42px 32px;
    width: 80%;
    text-align: center;
    max-width: 500px;
    background-color: $grey;
    margin-bottom: 6vh;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-radius:24px;
    box-shadow: 20px 20px 0 $light-grey;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        width: 100%;
        justify-content:center;
        .formHeading{
            padding-left: 14px;
            font-size: 2rem;
            color: $white-3;
        }
        input[type="text"],input[type="password"],input[type="email"], textarea{
            outline: none;
            border:none;
            border-bottom: 1.2px solid $light-grey-2;
            color:$white-5;
            padding: 14px;
            width: 80%;
            margin-top: 10px;
            font-size:1rem;
            background-color: $grey;
            &:focus {
                border-bottom: 1.2px solid $lemon;
            }
        }
        textarea{
            resize: vertical;
            height: 160px;
            font-family: sans-serif;
        }
        input[type="submit"]{
            margin-top: 25px;
            outline: none;
            border:none;
            color:$light-grey-2;
            padding: 14px;
            border-radius: 16px;
            width: 80%;
            font-size:1.1rem;
            background-color: $light-grey;
            transition: .4s ease-out;
            cursor: pointer;
            &:hover{
                background-color: $lemon;
                color: $grey;
                transition: .4s ease-in;
            }
        }
    }
        a{
            color: $white-3;
            text-decoration: none;
            font-size:1.2rem;
            transition: .4s ease-out;
            &:hover{
                color: $lemon;
                transition: .4s ease-in;
            }

        }
}