@import 'colors';

.siteNavBar{
    width: 100%;
    height:10vh;
    max-height: 100px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    background-color: $grey-0;
    top:0;
    padding:20px;
    z-index: 100;
}

.menuIconImg{
    max-height:8vh;
    transition: transform .4s ease-out;
    padding: 10px;
    &:hover{
        transition: transform .3s ease-in;
    }
}

.menuList{ 
    a{
        text-decoration: none;
        color: $grey;
    }
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    top:15px;
    margin-right: 10px;
    .iconBox{
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 12px;
        margin: 10px 0 0 10px;
        background-color: $light-grey;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        transition: 0.4s;
        padding: 10px;
        .belt{
            width: 85%;
            border-radius: 18px;
            transition: 0.6s;
            height: 3px;
            background-color: $grey;
        }
        
        &:hover{
            background-color: $lemon;
            .belt:first-child{
                transition: 0.2s ease-in;
                transform:translateX(4px);
                width: 65%;
            }

            .belt:last-child{
                transition: 0.2s ease-in;
                transform: translateX(-4px);
                width:65%;
            }
            transition: 0.5s;	

        }
    }
   
}

.mobileNav{
    height:100vh;
    width: 80%;
    z-index: 7;
    position:fixed;
	transform: translateX(115%);
    max-width: 600px;
    z-index: 200;
    top:0;
    right:0;
    background-color: $grey-3;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    .arrowRight{
        margin: 40px 50px;
        cursor: pointer;
        width: 30px;
        transform: scale(2.2);
        transition: 0.2s ease-out;

        &:hover{
            transform: scale(2.2) translateX(6px);
            transition: 0.2s ease-in;
            color: $lemon;
        }
    }
    .mobileNavList{
        display: flex;
        cursor: pointer;
        flex-direction:column;
        align-items:flex-end;
        justify-content: baseline;
        a{
            color: $white-2;
            text-decoration: none;
        }
        .mobileNavItem{
            list-style-type: none;
            padding: 16px;
            font-size:1.2rem;
            border-radius:18px;
            background-color: $grey-2;
            margin: 10px 20px;
            box-shadow: 10px 10px 0 $grey-5;
            transition: .4s;
            &:hover{
                box-shadow: 4px 4px 0 $lemon;
                transition: .4s;
            }
        }   

    }
}