
.icon-logout:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-login-1:before { content: '\e804'; } /* '' */
.icon-lightbulb:before { content: '\e805'; } /* '' */
.icon-torso:before { content: '\e806'; } /* '' */
.icon-pencil-alt:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-star:before { content: '\e809'; } /* '' */
.icon-trash-empty:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-eye:before { content: '\e80c'; } /* '' */
.icon-pencil-1:before { content: '\e80d'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
