.baseFormBox, main .signInFormBox, main .signUpFormBox, main .createStartupFormBox, main .profileEditFormBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 1rem;
  padding: 40px 32px 42px 32px;
  width: 80%;
  text-align: center;
  max-width: 500px;
  background-color: #2d2d2d;
  margin-bottom: 6vh;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 20px 20px 0 #494949;
          box-shadow: 20px 20px 0 #494949;
}

.baseFormBox form, main .signInFormBox form, main .signUpFormBox form, main .createStartupFormBox form, main .profileEditFormBox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.baseFormBox form .formHeading, main .signInFormBox form .formHeading, main .signUpFormBox form .formHeading, main .createStartupFormBox form .formHeading, main .profileEditFormBox form .formHeading {
  padding-left: 14px;
  font-size: 2rem;
  color: #DDD;
}

.baseFormBox form input[type="text"], main .signInFormBox form input[type="text"], main .signUpFormBox form input[type="text"], main .createStartupFormBox form input[type="text"], main .profileEditFormBox form input[type="text"], .baseFormBox form input[type="password"], main .signInFormBox form input[type="password"], main .signUpFormBox form input[type="password"], main .createStartupFormBox form input[type="password"], main .profileEditFormBox form input[type="password"], .baseFormBox form input[type="email"], main .signInFormBox form input[type="email"], main .signUpFormBox form input[type="email"], main .createStartupFormBox form input[type="email"], main .profileEditFormBox form input[type="email"], .baseFormBox form textarea, main .signInFormBox form textarea, main .signUpFormBox form textarea, main .createStartupFormBox form textarea, main .profileEditFormBox form textarea {
  outline: none;
  border: none;
  border-bottom: 1.2px solid #787878;
  color: #BBB;
  padding: 14px;
  width: 80%;
  margin-top: 10px;
  font-size: 1rem;
  background-color: #2d2d2d;
}

.baseFormBox form input[type="text"]:focus, main .signInFormBox form input[type="text"]:focus, main .signUpFormBox form input[type="text"]:focus, main .createStartupFormBox form input[type="text"]:focus, main .profileEditFormBox form input[type="text"]:focus, .baseFormBox form input[type="password"]:focus, main .signInFormBox form input[type="password"]:focus, main .signUpFormBox form input[type="password"]:focus, main .createStartupFormBox form input[type="password"]:focus, main .profileEditFormBox form input[type="password"]:focus, .baseFormBox form input[type="email"]:focus, main .signInFormBox form input[type="email"]:focus, main .signUpFormBox form input[type="email"]:focus, main .createStartupFormBox form input[type="email"]:focus, main .profileEditFormBox form input[type="email"]:focus, .baseFormBox form textarea:focus, main .signInFormBox form textarea:focus, main .signUpFormBox form textarea:focus, main .createStartupFormBox form textarea:focus, main .profileEditFormBox form textarea:focus {
  border-bottom: 1.2px solid #9dfa23;
}

.baseFormBox form textarea, main .signInFormBox form textarea, main .signUpFormBox form textarea, main .createStartupFormBox form textarea, main .profileEditFormBox form textarea {
  resize: vertical;
  height: 160px;
  font-family: sans-serif;
}

.baseFormBox form input[type="submit"], main .signInFormBox form input[type="submit"], main .signUpFormBox form input[type="submit"], main .createStartupFormBox form input[type="submit"], main .profileEditFormBox form input[type="submit"] {
  margin-top: 25px;
  outline: none;
  border: none;
  color: #787878;
  padding: 14px;
  border-radius: 16px;
  width: 80%;
  font-size: 1.1rem;
  background-color: #494949;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  cursor: pointer;
}

.baseFormBox form input[type="submit"]:hover, main .signInFormBox form input[type="submit"]:hover, main .signUpFormBox form input[type="submit"]:hover, main .createStartupFormBox form input[type="submit"]:hover, main .profileEditFormBox form input[type="submit"]:hover {
  background-color: #9dfa23;
  color: #2d2d2d;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

.baseFormBox a, main .signInFormBox a, main .signUpFormBox a, main .createStartupFormBox a, main .profileEditFormBox a {
  color: #DDD;
  text-decoration: none;
  font-size: 1.2rem;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.baseFormBox a:hover, main .signInFormBox a:hover, main .signUpFormBox a:hover, main .createStartupFormBox a:hover, main .profileEditFormBox a:hover {
  color: #9dfa23;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

.siteNavBar {
  width: 100%;
  height: 10vh;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1C1C1C;
  top: 0;
  padding: 20px;
  z-index: 100;
}

.menuIconImg {
  max-height: 8vh;
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  transition: transform .4s ease-out, -webkit-transform .4s ease-out;
  padding: 10px;
}

.menuIconImg:hover {
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 15px;
  margin-right: 10px;
}

.menuList a {
  text-decoration: none;
  color: #2d2d2d;
}

.menuList .iconBox {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 12px;
  margin: 10px 0 0 10px;
  background-color: #494949;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 10px;
}

.menuList .iconBox .belt {
  width: 85%;
  border-radius: 18px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  height: 3px;
  background-color: #2d2d2d;
}

.menuList .iconBox:hover {
  background-color: #9dfa23;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menuList .iconBox:hover .belt:first-child {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  width: 65%;
}

.menuList .iconBox:hover .belt:last-child {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
  width: 65%;
}

.mobileNav {
  height: 100vh;
  width: 80%;
  z-index: 7;
  position: fixed;
  -webkit-transform: translateX(115%);
          transform: translateX(115%);
  max-width: 600px;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: #444;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobileNav .arrowRight {
  margin: 40px 50px;
  cursor: pointer;
  width: 30px;
  -webkit-transform: scale(2.2);
          transform: scale(2.2);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.mobileNav .arrowRight:hover {
  -webkit-transform: scale(2.2) translateX(6px);
          transform: scale(2.2) translateX(6px);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #9dfa23;
}

.mobileNav .mobileNavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.mobileNav .mobileNavList a {
  color: #EEE;
  text-decoration: none;
}

.mobileNav .mobileNavList .mobileNavItem {
  list-style-type: none;
  padding: 16px;
  font-size: 1.2rem;
  border-radius: 18px;
  background-color: #333;
  margin: 10px 20px;
  -webkit-box-shadow: 10px 10px 0 #666;
          box-shadow: 10px 10px 0 #666;
  -webkit-transition: .4s;
  transition: .4s;
}

.mobileNav .mobileNavList .mobileNavItem:hover {
  -webkit-box-shadow: 4px 4px 0 #9dfa23;
          box-shadow: 4px 4px 0 #9dfa23;
  -webkit-transition: .4s;
  transition: .4s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #EEE;
}

main {
  margin-top: 12vh;
  margin-bottom: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70vh;
}

.userData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  border-radius: 16px;
  background-color: #444;
  max-width: 700px;
}

@media (max-width: 600px) {
  .userData {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.userData a {
  color: white;
  text-decoration: none;
}

.userData .userDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  padding-bottom: 8px;
}

.userData .userDetail .name, .userData .userDetail .surname {
  text-align: center;
}

.userData .left {
  padding: 16px;
  margin: 10px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userData .left .userName {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 20px;
}

.userData .left .dashboardLink {
  padding: 6px;
  border-radius: 10px;
  margin: 8px 0;
  text-align: center;
  -webkit-transition: .25s ease-out;
  transition: .25s ease-out;
  border: 2px solid white;
}

.userData .left .dashboardLink:hover {
  color: #2d2d2d;
  background-color: white;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}

.userData .right {
  padding: 16px;
  margin: 10px;
  width: 50%;
}

.userData .right img {
  max-width: 100%;
  border-radius: 16px;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 4px 4px 0 #555;
}

.heading a {
  color: white;
  text-decoration: none;
}

.alert {
  background-color: #064418;
  border-radius: 14px;
  padding: 20px;
  margin: 50px;
  color: #9dfa23;
}

.alert .title {
  font-size: 1.1rem;
}

.alert .content {
  font-size: 0.8rem;
}

.startups {
  width: 96%;
  max-width: 900px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: auto;
  padding-right: auto;
}

.startups .startupItem {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  border-radius: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

@media (max-width: 860px) {
  .startups .startupItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.startups .startupItem:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.25s ease-in;
  transition: -webkit-transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
}

.startups .startupItem .left {
  width: 100%;
  padding: 12px;
}

.startups .startupItem .left .title a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.startups .startupItem .left .description {
  padding: 8px;
  text-align: justify;
  margin: 8px;
  color: #666;
}

.startups .startupItem .left a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 3px;
  margin: 6px 0;
  display: block;
}

.startups .startupItem .left .delete {
  color: #F01200;
}

.startups .startupItem .left .author a {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.startups .startupItem .left .authorPhoto {
  max-width: 50px;
  border-radius: 20px;
}

.startups .startupItem .right {
  max-width: 46%;
  padding: 12px;
}

.startups .startupItem .right .startupPhoto {
  max-width: 100%;
  border-radius: 14px;
}

@media (max-width: 860px) {
  .startups .startupItem .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: unset;
  }
}

.observators {
  margin: 50px 20px;
  max-width: 800px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.observators a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.observators .observator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  max-width: 550px;
  height: 150px;
  padding: 20px;
  margin: 10px;
  border-radius: 16px;
  background-color: #444;
}

@media (max-width: 600px) {
  .observators .observator {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .observators .observator * {
    max-width: unset;
  }
}

.observators .observator .left {
  max-width: 50%;
}

.observators .observator .right {
  max-width: 50%;
}

.observators .observator .right img {
  width: auto;
  max-width: 100%;
  padding: 16px;
  height: 100%;
  border-radius: 16px;
}

.startup {
  margin-top: 50px;
  width: 80%;
  max-width: 1000px;
  background-color: #444;
  border-radius: 16px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.startup p {
  font-size: 1.3rem;
  text-align: justify;
}

.startup .startupPhoto {
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 16px;
}

.startup .startupAuthor a {
  font-size: 1.9rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.startup .remove {
  color: #F01200 !important;
  border: 2px solid #F01200 !important;
}

.startup .remove:hover {
  color: #2d2d2d !important;
  background-color: #F01200 !important;
}

.startup .images {
  width: 100%;
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.startup .images img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  border-radius: 16px;
}

.startup .startupLink {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
  margin: 8px 0;
  text-align: center;
  -webkit-transition: .25s ease-out;
  transition: .25s ease-out;
  font-size: 1rem;
  border: 2px solid white;
}

.startup .startupLink:hover {
  color: #2d2d2d;
  background-color: white;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}
/*# sourceMappingURL=main.css.map */