@import 'reusable/colors';
@import 'reusable/forms';
@import 'reusable/siteNavBar';

*{
    box-sizing: border-box;
}

body{
    background-color: $dark-grey; 
    font-size: 14px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: $white-2;
}

main{
    margin-top:12vh;
    margin-bottom:10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    min-height: 70vh;
    .signInFormBox{
        @extend .baseFormBox;
    }

    .signUpFormBox{
        @extend .baseFormBox;
    }
    .createStartupFormBox{
        @extend .baseFormBox;
    }
    .profileEditFormBox{
        @extend .baseFormBox;
    }
}

.userData{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius:16px;
    background-color:$grey-3;
    max-width: 700px;
    @media (max-width: 600px) {
        flex-direction: column;
    }
    a{
        color: $white;        
        text-decoration: none;
    }
    .userDetail{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4px;
        padding-bottom: 8px;
        .name, .surname{
            text-align: center;
        }
    }
    .left{
        padding: 16px;
        margin: 10px;
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .userName{
            font-size:1.4rem;
            text-align: center;
            margin-bottom:20px;
        }
        .dashboardLink{
            padding: 6px;
            border-radius: 10px;
            margin: 8px 0;
            text-align: center;
            transition: .25s ease-out;
            border: 2px solid $white;

            &:hover{
                color: $grey;
                background-color:$white;
                transition: .25s ease-in;
            }
        }
    }
    .right{
        padding: 16px;
        margin: 10px;
        width: 50%;
        img{
            max-width: 100%;
            border-radius: 16px;
        }
    }
}

.heading{
    a{
        color: $white;
        text-decoration: none;
    }
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 4px 4px 0 $grey-4;
}

.alert{
    background-color: $green;
    border-radius: 14px;
    padding: 20px;
    margin: 50px;
    color: $lemon;
    .title{
        font-size:1.1rem;
    }
    .content{
        font-size:0.8rem;
    }
}

.startups{
    width: 96%;
    max-width: 900px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: auto;
    padding-right: auto;
     .startupItem{
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        background-color: $grey-2;
        display: flex;
        margin-bottom: 20px;
        border-radius: 14px;
        flex-direction: row;
        transition: transform 0.25s ease-out;

        @media (max-width:860px) {
            flex-direction: column;       
        }
        &:hover{
            transform: scale(1.02);
            transition: transform 0.25s ease-in;
        }
        .left{
            width: 100%;
            padding: 12px;
            .title{
                a{
                    color: $white;
                    text-decoration: none;
                    font-size:2rem;
                }
            }
            .description{
                padding: 8px;
                text-align: justify;
                margin: 8px;
                color: $grey-5;
            }
            a{
                color: $white;
                text-decoration: none;
                font-size:1.1rem;
                padding: 3px;
                margin: 6px 0;
                display: block;
            }
            .delete{
                color: $red;
            }
            .author a{
                margin-top:25px;
                display: flex;
                gap: 10px;
            }
            .authorPhoto{
                max-width:50px;
                border-radius:20px;
        
            }

        }
        .right{
            max-width: 46%;
            padding: 12px;
                .startupPhoto{
                    max-width: 100%;
                    border-radius: 14px;
                }

            @media (max-width:860px) {
                display: flex;
                justify-content: center;
                max-width: unset;
            }
        }
    }
}


.observators{
    margin: 50px 20px;
    max-width: 800px;
    width: 80%;
    display: flex;
    flex-direction: column;
            a{
                color: $white;
                text-decoration: none;
                font-size:1.4rem;
                font-weight: bold;
            }
    .observator{
        display: flex;
        align-items:center;
        justify-content:space-between;
        gap: 30px;

        max-width: 550px;
        height: 150px;
        padding: 20px;
        margin: 10px;
        border-radius:16px;
        background-color: $grey-3;
        @media (max-width:600px) {
            flex-direction: column;
            *{
                max-width: unset;
            }
        }

        .left{
            max-width: 50%;
        }
        .right{
            max-width: 50%;
            img{
                width: auto;
                max-width: 100%;
                padding:16px;
                height: 100%;
                border-radius: 16px;
            }
        }
    }
}

.startup{
    margin-top: 50px;
    width: 80%;
    max-width: 1000px;
    background-color: $grey-3;
    border-radius: 16px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-size:1.3rem;
        text-align: justify;
    }
    .startupPhoto{
        max-width: 100%;
        margin-bottom: 30px;
        border-radius:16px;
    }


    .startupAuthor{
        a{
        font-size: 1.9rem;
        font-weight: bold;
        color: $white;
        text-decoration: none;
        }
    }
    .remove{
        color: $red !important;
        border: 2px solid $red !important;
        &:hover{
            color: $grey !important;
            background-color:$red !important;
        }
    }
    .images{
        width: 100%;
        margin: 40px 0px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        img{
            display: flex;
            width: 70%;
            border-radius:16px
            
        }
    }
    .startupLink{
        color: $white;
        text-decoration: none;
        padding: 8px;
        border-radius: 10px;
        margin: 8px 0;
        text-align: center;
        transition: .25s ease-out;
        font-size: 1rem;
        border: 2px solid $white;

        &:hover{
            color: $grey;
            background-color:$white;
            transition: .25s ease-in;
        }
    }
}