
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './style/main.css' %}">
    <link rel="stylesheet" href="{% static './style/fontello/css/fontello.css' %}">
    <title>
        {% block head %}
        {% endblock %} - strup
    </title>
</head>
<body>
        <header class="siteNavBar">
            <div class="menuIcon">
                <a href=""><img src="{% static './imgs/icon/white_icon.png' %}" alt="strup" class="menuIconImg"></a>
            </div>

            <div class="menuList" id="menuBtn">
                <div class="iconBox">
                    <div class="belt"></div>
                    <div class="belt"></div>
                    <div class="belt"></div>
                </div>
            </div>
        </header>
        <nav class="mobileNav" id="mobileMenu">
            <i class="arrowRight icon-right-open-big" id="closeMenuBtn"></i>
            <ul class="mobileNavList">
                <a href="{% url 'startupsSystem:startupsList' %}"><li class="mobileNavItem"><i class="icon-lightbulb"></i> Startupy</li></a>

                
                <a href="{% url 'startupsSystem:createStartup' %}"><li class="mobileNavItem"><i class="icon-plus"></i> Utwórz nowy startup</li></a>
                
                {% if request.user.is_authenticated %}
                    <a href="{% url 'users:dashboard' %}"><li class="mobileNavItem"><i class="icon-torso"></i> Mój profil </li></a>

                    <a href="{% url 'startupsSystem:myStartups' %}"><li class="mobileNavItem"><i class="icon-pencil-alt"></i> Moje startupy</li></a>

                    <a href="{% url 'startupsSystem:myObservations' %}"><li class="mobileNavItem"><i class="icon-star"></i> Zapisane startupy</li></a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a href="{% url 'users:signOut' %}"><li class="mobileNavItem"><i class="icon-logout"></i> Wyloguj się</li></a>
                    {% else %}
                    <a href="{% url 'users:signIn' %}"><li class="mobileNavItem"><i class="icon-login-1"></i> Zaloguj się </li></a>

                    <a href="{% url 'users:signUp' %}"><li class="mobileNavItem"><i class="icon-login-1"></i> Zarejestruj się</li></a>
                {% endif %}
            </ul>
        </nav>
        <script src="{% static './button.js' %}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block content %}
        {% endblock %}
    
</body>
</html>